@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); //Lato 

*{
  margin:0;
  padding:0;
  font-family:Lato;
}

a{
  text-decoration:none;
}
ul,li{
  list-style:none;
}
body{
  background-color:#2B2D5B;
  background-image:url('./img/background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center 75vh;
 
 
}

h1{
  color:#FFFFFF;
  font-size:4em;
  text-align:center;
  font-weight:500;
  padding:15% 0 0 0 ;
}